<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jenkins cucumber github integration learning">

	<test name="Jenkins cucumber github integration learning">
		<classes>
			<class name="com.qa.lab.selenium.init.CucumberRunner"></class>

		</classes>
	</test>
</suite>